@import 'tailwindcss/dist/base.css';
@import 'tailwindcss/dist/components.css';
@import 'tailwindcss/dist/utilities.css';

.appNode {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    padding-top: 5rem;
}

.container-avo {
    display: flex;
    padding: .5rem;
    border-radius: 2rem;
}

.image-avo {
    border-radius: 50%;
}

.price-avo {
    padding-left: 1rem;
}

.container-detail {
    text-align: start;
    padding-left: .5rem;
}

.container-avo:hover {
    background-color: #EDE3E1;
}